PORT=3000
NODE_ENV=development
CLIENT_URL=http://localhost:5500
MONGODB_URI=mongodb+srv://academico_user:bYkUGJpQMBY3Mqjo@academico.eekln69.mongodb.net/academico?retryWrites=true&w=majority&appName=academico
JWT_SECRET=crie-uma-chave-bem-grande-e-segura
JWT_EXPIRES_IN=7d
COOKIE_NAME=academico_token
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3000/api/auth/google/callback
